/*Offset the top navbar*/
#all-movie-cards-div {
    margin-top: 62px;
}

/*Styling to make the div for loading screen the correct size and position*/
/*Also makes the position absolute to always be on the screen*/
#loading-div {
    position: absolute;
    height: 100vw;
    width: 100vw;
}

/*Class used by loading div to hide when not needed*/
.hidden {
    opacity: 0;
}

/*Loading image styling for size and position*/
#loading-img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20em;
}

/*Styling to spin our loading image*/
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
.spin {
    animation-name: spinning;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*!*Background colors to toggle between for back room*!*/
/*.normal-bg {*/
/*    background-color: #8096AD;*/
/*}*/
/*.back-room-bg {*/
/*    background-color: #622929;*/
/*}*/

/*Changes cursor to a pointer finger when over a movie list image*/
#movie-list img {
    cursor: pointer;
}

.modal-content {
    border-radius: 1.5em;
}

#all-movie-carousel {
    margin-top: 30px;
    padding: 5em 0;
    height: 600px;
}

/*Stying sort select element*/
#sort-select, #sort-select>option, #add-movie-btn {
    background-color: #8096AD;
}

/*Making the movie cards scale up on hover, with a small transition time so it is not instant*/
.movie-card, .search-card, .big-movie {
    transition: all 200ms;
}
.movie-card:hover, .search-card:hover {
    transform: scale(1.1);
}

.big-movie {
    transform: scale(1.2);
}

/*Rounding edges and preventing image inside from overflowing*/
/*Adding shadow borders*/
.carousel-cell img {
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 6px 12px 12px #000;
}
.search-card {
    box-shadow: 0 0 3px 3px #8096AD;
    border-radius: 1em;
    overflow: hidden;
}

/*Making set height for images and cards*/
.all-movie-img {
    width: 300px;
    height: 429px;
}
.search-card, .search-card-img {
    width: 160px;
    height: 240px;
}

/*Styling all modal headers*/
.modal-header {
    border-bottom: 2px solid #254895;
}

/*Moving text input in line with other inputs on the modal*/
#title-input {
    padding-left: 12px;
}

/*Overflow-wrap for all edit movie fields*/
.modal-overflow-wrap {
    overflow-wrap: break-word;
}

/*Change color of filled stars to yellow*/
.bi-star-fill {
    color: #FF0;
}
.bi-star {
    color: #FFF;
}
.modal-rating-star:hover {
    cursor: pointer;
}

#carousel-buttons {
    /*display: flex;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*pointer-events: none;*/
}

.carousel-nav {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 25vw;
    opacity: 0;
}

.carousel-prev {
    left: 0;
}
.carousel-next {
    right: 0;
}

@media screen and (max-width: 800px) {
    .carousel-nav {
        width: 18vw;
    }
}
