<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <div th:replace="partials :: metaTags" />
    <meta name="_csrf" data-th-content="${_csrf.token}" />
    <div th:replace="partials :: links" />

    <title>Movie Lists</title>

    <link rel="stylesheet" th:href="@{/assets/css/movie-lists.css}">
</head>
<body>
<div hidden th:object="${url}">
    <div id="base-url" th:text="*{baseUrl}"></div>
</div>
<div id="page-wrapper">
    <nav th:replace="partials :: siteBar" />

    <h1 class="text-center pt-5 my-5">Movie Lists</h1>

    <div class="container pt-5 my-5">
        <div class="row g-5">
            <!-- Movie Lists Div -->
            <div class="col-12 col-lg-7">
                <div class="container bg-dark rounded-3 p-5">
                    <h1 class="text-center text-light">My Lists</h1>
                    <div id="all-movie-lists-div"></div>
                </div>
            </div>
            <!-- Create Movie Div -->
            <div class="col-12 col-lg-5">
                <div class="container bg-dark rounded-3 p-5">
                    <h1 class="text-center text-light">Create a New List</h1>
                    <form class="text-light" th:action="@{/movie/list}" method="POST" th:object="${list}">
                        <div class="mb-3">
                            <label for="list-name" class="form-label">Name your List</label>
                            <input type="text" class="form-control" id="list-name" name="list-name" th:field="*{name}" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <p>Add others to your list (Coming Soon)</p>
                        </div>
                        <button id="add-list-submit-btn" type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="partials :: scripts" />
<script type="module" th:src="@{/assets/js/movie-lists.js}" />
<script type="module" src="../../../../static/js/movie-lists.js"></script>
</body>
</html>