<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Write Review')"></div>

    <link rel="stylesheet" th:href="@{/css/review-form.css}">
</head>
<body>
<div id="page-wrapper">
    <nav th:replace="partials :: siteBar" />

    <div class="container review-container bg-dark text-light rounded-3">
        <div class="poster-div">
            <img th:src="${movie.poster}">
        </div>
        <div class="review-div">
            <form th:action="@{/review/{movieId}/edit (movieId=${movie.id})}" th:method="POST" th:object="${review}">
                <div th:replace="partials :: reviewForm" />
            </form>
        </div>
    </div>

    <div th:replace="partials :: scripts" />
</body>
</html>