<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <div th:replace="partials :: metaTags" />
    <div th:replace="partials :: links" />

    <title>My Movie Reviews</title>

    <link rel="stylesheet" th:href="@{/assets/css/reviews.css}">
</head>
<body>
<div hidden th:object="${url}">
    <div id="base-url" th:text="*{baseUrl}"></div>
</div>
<div id="page-wrapper">
    <nav th:replace="partials :: siteBar" />

    <h1 class="text-center pt-5 my-5 outlined">My Reviews</h1>

    <div id="reviews-div"></div>
</div>

<div th:replace="partials :: scripts" />
<script th:src="@{/assets/js/reviews.js}"></script>

</body>
</html>