<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('My Profile')"></div>

</head>
<body>
<div id="page-wrapper">
    <nav th:replace="partials :: siteBar" />


    <h1 class="text-center pt-5 my-5 outlined">Profile Settings</h1>

    <div class="container bg-dark rounded-3 p-5">
        <button id="upload-profile-picture" class="btn btn-primary">Upload Picture</button>
        <div id="pic-div"></div>
    </div>
</div>
<div th:replace="partials :: scripts" />
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:type="module" th:src="@{/js/profile.js}"></script>
<script th:type="module" th:src="@{/js/filestack.js}"></script>

</body>
</html>