<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Signup')"></div>

</head>
<body>
<div th:replace="partials :: baseUrlFragment"></div>
<div id="page-wrapper">
    <nav th:replace="partials :: siteBar" />


    <h1 class="text-center pt-5 my-5 outlined">Sign Up to create your first Movie List!</h1>

    <div class="container bg-dark rounded-3 p-5">
        <div th:replace="partials :: signupForm" />
    </div>
</div>
<div th:replace="partials :: scripts" />

<script th:src="@{/js/signup-form.js}" />
<script src="../../static/js/signup-form.js"></script>

</body>
</html>