<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Pfirewire\'s Movie App')"></div>

    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/carousel.css}">
</head>
<body>

<div hidden th:object="${url}">
    <div id="base-url" th:text="*{baseUrl}"></div>
</div>

<div id="page-wrapper">
    <nav th:replace="partials :: siteBar" />

    <!-- Main Wrapper Div for Loading Screen-->
    <div id="main-wrapper">

        <!-- Loading Screen Div-->
        <div id="loading-div" class="d-flex justify-content-center normal-bg">
            <img th:src="@{/javier.png}" id="loading-img" class="spin">
        </div>

        <h2 class="text-center pt-5 my-5 outlined">Trending This Week</h2>
        <div id="trending-movie-carousel" class="carousel-scene d-flex justify-content-center">
            <div class="carousel"></div>
        </div>
        <nav>
            <button class="carousel-nav carousel-prev">Prev</button>
            <button class="carousel-nav carousel-next">Next</button>
        </nav>
        <h2 class="text-center outlined">To do:</h2>
        <ul class="text-center my-5 outlined" style="list-style: none;">
            <li>Add ability to invite other users to be members of your list. Members will be able to add/remove as well</li>
            <li>Upload profile picture</li>
            <li>Fix Styling on a lot of pages</li>
            <li>A whole bunch of other stuff...</li>
            <li style="text-decoration-line: line-through;">Changed Sitebar Styling</li>
            <li style="text-decoration-line: line-through;">Fix Movie Carousel when list contains less than 3 movies</li>
            <li style="text-decoration-line: line-through;">Update navbar in movie list</li>
            <li style="text-decoration-line: line-through;">Add ability to add multiple lists</li>
            <li style="text-decoration-line: line-through;">Add ability to change list name and delete lists</li>
            <li style="text-decoration-line: line-through;">Change how movies in a movie list are displayed (carousel)</li>
            <li style="text-decoration-line: line-through;">Filtering options for movies in movie list</li>
            <li style="text-decoration-line: line-through;">Random movie ("what should I watch?")</li>
            <li style="text-decoration-line: line-through;">Add ratings</li>
            <li style="text-decoration-line: line-through;">Add public reviews</li>
            <li style="text-decoration-line: line-through;">(Slightly) Better Splash Page</li>
            <li style="text-decoration-line: line-through;">Trending movies on Splash Page</li>
            <li style="text-decoration-line: line-through;">Fix trending movies carousel on Mobile + Safari</li>
            <li style="text-decoration-line: line-through;">Mobile View (only fullscreen desktop will look ok right now)</li>
        </ul>
        <h2 class="text-center outlined">Let me know if you have any ideas for me to implement!</h2>
    </div>
</div>

<div th:replace="partials :: scripts"></div>
<script type="module" th:src="@{/js/index.js}"></script>
</body>
</html>