<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <div th:replace="partials :: metaTags" />
    <div th:replace="partials :: links" />

    <title>Pfirewire's Movie App</title>
</head>
<body>
<nav th:replace="partials :: siteBar" />

<h1 class="text-center my-5">Pfirewire's Movies Splash Page</h1>
<h2 class="text-center">To do:</h2>
<ul class="text-center my-5">
    <li>Update navbar in movie list</li>
    <li>Add ability to add multiple lists</li>
    <li>Add ratings</li>
    <li>Better Splash Page</li>
    <li>Mobile View (only fullscreen desktop will look ok right now)</li>
    <li>A whole bunch of other stuff...</li>
</ul>
<h2 class="text-center">Let me know if you have any ideas for me to implement!</h2>

<div th:replace="partials :: scripts" />
</body>
</html>