* {
    box-sizing: border-box;
}
/*Background for loading div*/
/*.normal-bg {*/
/*    background-color: #8096AD;*/
/*}*/

/*Loading image div wrapper styling*/
#loading-div {
    position: absolute;
    height: 100vw;
    width: 100vw;
}
/*Styling for loading image*/
#loading-img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20em;
}
/*Styling to spin our loading image*/
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
.spin {
    animation-name: spinning;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
