body {
    color: #FFF;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.normal-bg {
    background-color: #8096AD;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: url('https://source.unsplash.com/1920x1080/?cinema') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel img {
    height: 429px;
    width: 100%;
    border-radius: 1em;
}

#loading-img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20em;
}

/*Styling to spin our loading image*/
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
.spin {
    animation-name: spinning;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*// Carousel configuration parameters*/
/*$item-width: 40%; // Now we can use percentages!*/
/*$item-separation: 0px; // This now is set with Js*/
/*$viewer-distance: 500px;*/

:root {
    --item-width: 40%;
    --item-separation: 0px;
    --viewer-distance: 500px;
}

.carousel {
    padding: 20px;

    perspective: var(--viewer-distance);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel > * {
    flex: 0 0 auto;
}

.carousel figure {
    margin: 0;
    /*width: var(--item-width);*/
    width: 360px;
    transform-style: preserve-3d;
    transition: transform 3s;
}

.carousel figure div {
    width: 100%;
    box-sizing: border-box;
}

.carousel figure div:not(:first-of-type) {
     position: absolute;
     left: 0;
     top: 0;
}

carousel nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}

.carousel nav button {
    /*flex: 0 0 auto;*/
    /*margin: 0 5px;*/

    /*cursor: pointer;*/

    /*color: #333;*/
    /*background: none;*/
    /*border: 1px solid;*/
    /*letter-spacing: 1px;*/
    /*padding: 5px 10px;*/
    display: none;
}

#loading-div {
    position: absolute;
    height: 100vw;
    width: 100vw;
}